ul.dropdown-menu.inner {
    overflow-y: auto;
    min-height: 50px !important;
    max-height: 251px !important;
}

li.disabled {
    background: #607d8b21;
}
li.disabled>a>span {
   
    font-style: italic;
}
.marge {
    margin-left: 2em;
    }


    .container{
        background-color: #ccc;
    }
    
    #text1{
        background-color: #cac;
    }
    
    #text2{
        background-color: #cca;
    }
    
    #navigation{
        background-color:green;
    }

    .field-input{
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }
    ::placeholder { 
        color: #ababab;
        opacity: 1; 
        padding-left: 15px;
        
      }
      .field-input:focus {
        border-bottom: 2px solid #1f91f3;
        animation-name: bounce;
        -webkit-transform-origin: 1s center bottom;
        transform-origin: 1s center bottom;
    }
    div#listePli {
        background: white;
        border-radius: 7px;
    }
.modal-lg {
    width: 1100px !important;
}

.ra-modal-content {
    /* 80% of window height */
    height: 99%;
    overflow-y: scroll;
}
.preloader-reception {
    display: none;
    position: fixed;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 4px;
    left: 45%;
    top: 50%;
    padding: 15px;
    z-index: 91022;
    
    background-color: #ffffff;
    
}
.row.row_histo_pli {
    margin-right: 10px !important;
    margin-left: 10px !important;
}
div#info-histo {
    padding-right: 20px;
}
.img_docs {
    width: 50%;
}
a#table-liste-data_previous {
    padding-right: 53px;
    cursor: pointer;
}
a.paginate_button {
    padding-right: 12px;
    cursor: pointer;
}
a#table-liste-data_next {
    padding-right: 27px;
}

.modal .modal-header {
    border: none;
    padding: 5px 25px 5px 25px !important;
}    


/**********/
.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.3s;
    }
    
    .modal.fade.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
        opacity: 1;
    }
.tab-content {
    height: 550px !important;
    overflow:auto;
}

.table tbody tr td, .table tbody tr th {
    padding: 4px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.nav-tabs+.tab-content {
    padding: 1px 0 !important;
}
.DTFC_LeftBodyLiner {
    position: relative;
    top: -14px !important;
    background: white;
    left: 0px !important;
}
thead {
    background: white;
}

td.dataTables_empty {
    text-align: center !important;
}

textarea.form-control.no-resize {
    background: #e9e9e973;
    
    box-shadow: 0 0 7px #00000038;
    outline: none !important;
    border-color: rgb(206, 210, 214);
    box-shadow: 0 0 5px #0000003d;
    
}

table.dataTable thead .sorting_asc:after {
    content: "" !important;
}
.view-ra-detail:hover{
    
    font-size: 25px;
}