/*.bootstrap-select.btn-group .dropdown-menu li.active{
    background-color:orange;
}*/
.dropdown-menu > .active > a
, .dropdown-menu > .active > a:hover
, .dropdown-menu > .active > a:focus {
    /* text-decoration: none !important; */
    background-color: #337ab7 !important;
    color: #fff !important;
}
.bootstrap-select .dropdown-menu li.selected a {
    background-color: #337ab7a6 !important;
    color: #fff !important;
}
.bootstrap-select .dropdown-menu .active a
, .bootstrap-select .dropdown-menu li.selected a span small
, .bootstrap-select .dropdown-menu li a:hover span small
, .bootstrap-select .dropdown-menu li a:focus span small {
    background-color: transparent;
    color: #fff !important;
}
.bootstrap-select .dropdown-menu li a:hover
, .bootstrap-select .dropdown-menu a:focus {
    background-color: #337ab7 !important;
    color: #fff !important;
}
.bootstrap-select .dropdown-menu li.active.selected a{
    background-color: #337ab7 !important;
    color: #fff !important;
}