#parti_field .card {
    margin-bottom: 10px;
}

#parti_field .card .body {
    padding-bottom: 1px;
}

#parti_field .card .body .col-lg-12 {
    margin-bottom: 10px;
}

.magnify-modal {
    top: 0;
    left: 0;
}

#parti_field {
    overflow-y: auto;
    max-height: 85vh;
}

.img_b64 {
    max-width: 100%;
}

.div_img_b_64 {
    max-height: 71vh;
    overflow-y: auto;
    overflow-x: hidden;
}