.grph_faute{
    min-height: 300px;
    margin: 0 auto;
}

.col_hx {
    margin-bottom: 0 !important;
}

.card_m_b_10{
    margin-bottom: 10px !important;
}

.card_filtre{
    margin-top: -20px !important;
}

.highcharts-credits{
    display: none;
}
