.card_filtre {
    margin-bottom: 10px !important;
    margin-top: -15px !important;
}

.frm_find {
    margin-bottom: 0px !important;
}

.hide_img {
    height: 0;
    width: 0;
    overflow: hidden !important;
}

#list_doc_pli {
    max-height: 50vh;
    overflow-y: auto;
}

.tab_cont_0{
    height: 0;
}

#support_dtt{
    min-width: 100% !important;
}
.col_hx {
    margin-bottom: 0 !important;
}

.row_list_regroupement {
    max-height: 70vh;
    overflow-y: auto;
}
.row_histo_pli {
    max-height: 75vh;
    overflow-y: auto;
}
