/* .card_filtre {

    margin-bottom: 11px !important;
    margin-top: 80px !important;

} */

.bs-searchbox .form-control {

    /* margin-bottom: 0; */
    width: 95%!important;
    /* float: none; */

}

.modal-lg {
    width: 800px!important;
}

.modal-body {
    max-height: 500px!important;

    overflow-y: scroll!important;
}

.theme-indigo {
    padding-right: 0px!important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

    /* //line-height: 1.42857143; */
    font-size: 12px!important;
   /* // font-family: Arial; */

}

#ctnr_main {
    margin-top: -20px!important;
}

.histo_flux {
    max-height: 75vh;

     overflow-y: auto;
}

.abo_flux {
    width: 90% !important;
}

.abon{
    cursor: pointer;
    width:30px;padding:3px;
}
.btnsearch{
    margin-top: -10px
}

.DTFC_LeftBodyLiner{
    position: relative;
    top: -14px !important;
    left: 0px !important;
    }

.DTFC_Cloned{
    background-color: white !important;
}
.DTFC_RightWrapper {
    display: none;
 }

 .mod_ano {
    overflow-y: hidden!important;
}

.md_cons_war {
    background: #F0F8FD!important;
    border: 1px solid #3e93cf!important;
    color: #0062A7!important;
    border-radius: 10px;
}

.md_cons_suc {
    background-color: #FFF9E9 !important;
    border: 1px solid #d0aa42!important;
    color: #ac7e00!important;
    border-radius: 10px;
}

.card .body {
    margin-bottom: -20px!important;
}


.card .body .col-xs-12, .card .body .col-sm-12, .card .body .col-md-12, .card .body .col-lg-12 {

    margin-bottom: 13px!important;

}