.parti_bouton {
    padding-bottom: 20px;
}

.v_aligne_m {
    vertical-align: middle !important;
}

#user_admin_datatable{
    min-width: 100% !important;
}

.tab_w_u_col_login{
    width: 10%;
}
.tab_w_u_col_tp{
    width: 10%;
}
.tab_w_u_col_con{
    width: 10%;
}
.tab_w_u_col_ocup{
    width: 10%;
}
.tab_w_u_col_fx{
    width: 10%;
}
.tab_w_u_col_dt_recpt{
    width: 10%;
}
.tab_w_u_col_soc{
    width: 20%;
}
.tab_w_u_col_act{
    width: 20%;
}

.hide_img {
    height: 0;
    width: 0;
    overflow: hidden !important;
}
