.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

    /* //line-height: 1.42857143; */
    font-size: 12px!important;
   /* // font-family: Arial; */

}



.modal-body {
    max-height: 500px!important;

    overflow-y: scroll!important;
}

.date_picker {
    margin-top: 30px!important;
}

.theme-indigo {
    padding-right: 0px!important;
}

.col_cstm {
    /*margin-bottom: 0 !important;*/
    margin: -10px 0px 0px 0px !important;
}

#ctnr_main {
    margin-top: -20px!important;
}

.mod_ano {
    overflow-y: hidden!important;
}

.DTFC_LeftBodyLiner{
    position: relative;
    top: -14px !important;
    left: 0px !important;
    }

.DTFC_Cloned{
    background-color: white !important;
}

.DTFC_RightWrapper {
   display: none;
}

.modal_xl{
    width: 90% !important;
}


.card .body {
    margin-bottom: -20px!important;
}