.col_hx {
    margin-bottom: -5px !important;
}

.col-lg-3 {

    margin-bottom: -40px !important;
}

.col-lg-6 {

    margin-bottom: -23px !important;
}

.st_gr {
    height: 184px!important;

}

#tb_batch {
    width:100%!important
}