.card_filtre {
    margin-bottom: 10px !important;
}

.col_hx {
    margin-bottom: 0 !important;
}

.elem_activ {
    cursor: pointer;
    color: #00b0e4;
    text-decoration: underline;
}

.icon_mini {
    font-size: 15px;
}

.hide_img {
    height: 0;
    width: 0;
    overflow: hidden !important;
}

#list_doc_pli {
    max-height: 50vh;
    overflow-y: auto;
}

.row_histo_pli {
    max-height: 75vh;
    overflow-y: auto;
}

.tab_cont_0{
    height: 0;
}

#visu_pli_dtt{
    min-width: 100% !important;
}

.name_existed_file_ke{
    text-decoration: none;
}
.name_existed_file_ke.deleted{
    text-decoration: line-through;
}
.bt_files_ke{
    cursor: pointer;
}
#list_files_ke{
    max-height: 30vh;
    overflow-y: auto;
}
