.datepicker {
    top: 170px !important;
}

.input-group .form-control {
    padding-left: 30px !important;
}

.nsaisi_preload{
    display:none;
}

#body{
    background-color: #fff;
}

.bootstrap-select {
    border-bottom: 1px solid #e9e9e9 !important;
}