/* menu header */
.css-title:before {
    content: "Choisir une action :";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #DDD;
    padding: 2px;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.css-title :first-child {
    margin-top: 20px;
}

/* menu header via data attribute */
.data-title:before {
    content: attr(data-menutitle);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #DDD;
    padding: 2px;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.data-title :first-child {
    margin-top: 20px;
}
/*
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
*/

table.dataTable tbody tr.selected {
    background-color: #B0BED9 !important;
    }
.context-menu-list {
z-index: 999 !important;
}


.input-group-addon {
    
    padding: 0px 3px !important;
    text-align: center;
    background-color: #eee0;
   
    border-radius: 4px;
    border: none;
        border-right-color: currentcolor;
        border-right-style: none;
        border-right-width: medium;
        border-left-color: currentcolor;
        border-left-style: none;
        border-left-width: medium;
}
/*
.context-menu-separator {
    
    
    border-bottom: 2px solid #2980b9 !important;
    
}*/
p{text-align: initial;}
#daty-input {
    width: 37%;
}

.preloader-reception {
    display: none;
    position: fixed;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 4px;
    left: 45%;
    top: 50%;
    padding: 15px;
    z-index: 999;
    background-color: #ffffff;
    
}


.col-md-1 {
    /* width: 8.33333333%; */
    width: inherit !important;
}

.tooltip-inner {
    text-align: left !important;
    padding: 5px !important;
    word-break: break-all !important;
}

textarea.form-control {
    height: auto;
    background: 
    #acbfbf1c;
        background-color: rgba(172, 191, 191, 0.11) !important;
    
}

textarea:-moz-read-only { /* For Firefox */
    background-color: #74747470  !important;
  }
  
  textarea:read-only {
    background-color: #74747470  !important;
  }
  
  .card .body {padding: 7px !important;}

  

  .info-box .content {
    display: inline-block;
    padding: 0px 10px !important;
}

span.info-text {
    padding-left: 5px !important;
    font-size: 13px;
}

.info-box .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 50px !important;
}
.info-box.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    left: 50px !important;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s;
}

.info-box {height: 57px !important; margin-bottom: 20px  !important;}

.info-box .icon i {
    line-height: 57px !important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0px !important;
    white-space: nowrap;
}


.jsPanel-titlebar .jsPanel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: initial !important;
    font-variant: full-width !important;
    font-weight: normal;
    margin: 0 5px 0 8px;
    min-width: 0;
}

.magnify-modal {
    z-index: 1092 !important;
}
.panel-group {
    
    margin-top: 10px !important;
}
.tab-content {
    height: 80% !important;
    overflow: auto;
}
.hide_img {
    height: 0;
    width: 0;
    overflow: hidden !important;
}

.highlight { background-color: red; }

div#ko-body {
    /* background-color: beige !important; */
    /* z-index: 99999; */
    overflow: scroll !important;
    
    /* width: 110px; */
    height: calc(100vh - 80px) !important;
    overflow: auto;
}