.dropdown-menu ul.menu {
    list-style-type: none !important;
}
.table-responsive {
    min-height: .01%;
    overflow-x: hidden;
    width: 99%;
}
.preloader-reception {
    /*display: none;*/
    position: fixed;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 4px;
    left: 45%;
    top: 50%;
    padding: 15px;
    z-index: 91022;
    
    background-color: #ffffff;
    
}
/*
form{
    max-height: 180px; 
overflow-y : auto;
}*/