body {background-color: #ffffff !important;}
.col-md-1.filtre {padding-top: 14px !important;}

.row.clearfix.suivi-typo {
    margin-right: 0 !important;
    margin-left: 0 !important;
}


.morris-hover {
    position:absolute;
    z-index:1000;
}

.morris-hover.morris-default-style {     border-radius:10px;
    padding:6px;
    color:#666;
    background:rgba(255, 255, 255, 0.8);
    border:solid 2px rgba(230, 230, 230, 0.8);
    font-family:sans-serif;
    font-size:12px;
    text-align:center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight:bold;
    margin:0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space:nowrap;
    margin:0.1em 0;
}

path{width: 70% !important;}


.DTFC_LeftBodyLiner{
    position: relative;
    top: -14px !important;
    left: 0px !important;
    }


    .info-box .content {
        display: inline-block;
        padding: 0px 10px !important;
    }

    span.info-text {
        padding-left: 5px !important;
        font-size: 13px;
    }

    .preloader-reception {
        display: none;
        position: fixed;
        font-weight: bold;
        border: 1px solid gray;
        border-radius: 4px;
        left: 45%;
        top: 50%;
        padding: 15px;
        z-index: 999;
        background-color: #ffffff;
        
    }


    @media (min-width: 900px) {
        .col-md-2-global-reception {
            width: 20%;
        }
      }

      .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
        top: 160px !important;
        
        z-index: 10 !important;
        display: block !important;
    }

    .info-box .icon {
        display: inline-block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.12);
        width: 50px !important;
    }
    .info-box.hover-expand-effect:after {
        background-color: rgba(0, 0, 0, 0.05);
        content: ".";
        position: absolute;
        left: 50px !important;
        top: 0;
        width: 0;
        height: 100%;
        color: transparent;
        -moz-transition: all 0.95s;
        -o-transition: all 0.95s;
        -webkit-transition: all 0.95s;
        transition: all 0.95s;
    }