.DTFC_LeftBodyLiner{
position: relative;
top: -14px !important;
left: 0px !important;
}

.btn_synthese{
    display: none;
}

.trait_typo{
    display: none;
}

.dataTables_scrollBody {
    height: auto!important;
}
