.card .body .col-xs-2, .card .body .col-sm-2, .card .body .col-md-2, .card .body .col-lg-2 {
    margin-bottom: 10px !important;
}
.form-group {
    margin-bottom: 10px !important;
}
.bootstrap-select {
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0px !important
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;;
}



/**************/
/* Split the screen in half */
.split {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.split_right{
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
/* Control the left side */
.left {
    left: 0;
    background: white;
}

/* Control the right side */
.right {
    right: 0;


}

/* If you want the content centered horizontally and vertically */
.centered {
    top:calc(75px);
    position: absolute;
    /* top: 50%; */
    left: 2%;
    width: 95%;
    /* display: block; */
    /* transform: translate(-50%, -50%); */
}

.col-lg-12 {
    width: 100%;
    margin-bottom: -21px !important;
}

.form-group .form-control {
    padding-left: 10px !important;
}

ul.dropdown-menu.inner {
    max-height: 190px !important;
    overflow-y: auto;
    min-height: 82px;
}


.magnify-maximize{width: 70% !important;}
.form-group label.error {
    font-size: 13px;
    display: block;
    margin-top: 5px;
    font-weight: bolder !important;
    color: #F44336;
}

.bootstrap-select .dropdown-menu li.selected a {
    background-color: #d2d2d2 !important;
    color: #555 !important;
}

.thumbnail_image {
    border: 1px solid #607d8b;
    border-radius: 4px;
    padding: 2px;
    width: 120px;
    margin-right: 6px;
    height: 100px;
    margin-bottom: 5px;
}


.thumbnail_image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.custom_metismenu{
    display: inherit !important;
    position: relative !important;
    /*top: -20px !important;*/
    margin-top: -25px !important;
    left: 30px !important;
    margin-bottom: -10px !important;
    font-size: 13px !important;
}
.magnify-maximize{
    width: 70% !important;
}

.dropdown-menu ul.menu {
    list-style-type: none !important;
}
 .modal-open .modal {

    z-index: 1099 !important;
}

.modal-backdrop {
    z-index: -1;
  }
  .modal-anomalie_chq_c{
    top: 10%;
    left: 25%;
    right: 25%;
    
}

/*
.c-typo-pli.btn-group.bootstrap-select.form-group.form-control.open {
    width: 70%;
    right: 20%;
    
    position: fixed;
    bottom: 25%;
    top: 25%;
	z-index: 1099 !important;
} */




.btn-group.bootstrap-select.show-tick.form-control.c-anomalie-liste.open {
    width: 70%;
    left: 3%;
    position: fixed;
    bottom: 10%;
    top: 35%;
    z-index: 999!important;
}

#top {
    z-index: 1092;
}
.theme-teal .navbar {
    background-color: 
    #3F51B5;
    z-index: 1093;
}

.magnify-modal.magnify-maximize {
    top: 70px !important;
}
.c-texte-sans-anomalie {
    position: relative;
    top: 37px;
    left: 228px;
}
.bootstrap-notify-container.alert.alert-dismissible.alert-danger.p-r-35.animated.fadeInDown
{
	z-index : 2000 !important;
}
.annuler-koscan {
    margin: 2px;
}

.magnify-modal.magnify-maximize {
    height: 92% !important;
}

.badge {
    
    padding: 5px 7px !important;
    
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: inherit !important;
   
}
/*
li.active {
    background: orange;
}
*/
/*************/


.bootstrap-select .bs-searchbox .form-control, .bootstrap-select .bs-actionsbox .form-control, .bootstrap-select .bs-donebutton .form-control {
    
    margin-left: 25px !important;
}
.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 85% !important;
    float: none;
}