section.content{
    margin-left: 0 !important;
}

#contenu{
    overflow-x: hidden !important;
}

.bt_ss{
    width: 33.333%;
}

.p-b-5{
    padding-bottom: 5px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.card_fx .body .col-xs-6, .card_fx .body .col-sm-6, .card_fx .body .col-md-6, .card_fx .body .col-lg-6 {
    margin-bottom: 10px !important;
}

.card_fx .body .col-xs-5, .card_fx .body .col-sm-5, .card_fx .body .col-md-5, .card_fx .body .col-lg-5 {
    margin-bottom: 10px !important;
}

.card_fx .body .col-xs-2, .card_fx .body .col-sm-2, .card_fx .body .col-md-2, .card_fx .body .col-lg-2 {
    margin-bottom: 10px !important;
}

.card_fx .body .col-xs-12, .card_fx .body .col-sm-12, .card_fx .body .col-md-12, .card_fx .body .col-lg-12 {
    margin-bottom: 10px !important;
}

.card_fx{
    margin-bottom: 10px !important;
}

#div_liste_abonnement{
    max-height: 84vh;
    overflow-y: auto;
}

.ico_modif_pj{
    cursor: pointer;
}

#mdl_display_group_flux_by_older_body{
    max-height: 75vh !important;
    overflow-y: auto;
}

.modal-xl {
    width: 100% !important;
}
