#flip-tabs{
    width:300px;
    margin:20px auto; position:relative;
}
#flip-navigation{
    margin:0 0 10px; padding:0;
    list-style:none;
}
#flip-navigation li{
    display:inline;
}
#flip-navigation li a{
    text-decoration:none; padding:10px;
    margin-right:0px;
    background:#f9f9f9;
    color:#333; outline:none;
    font-family:Arial; font-size:12px; text-transform:uppercase;
}
#flip-navigation li a:hover{
    background:#999;
    color:#f0f0f0;
}
#flip-navigation li.selected a{
    background:#999;
    color:#f0f0f0;
}
#flip-container{
    width:300px;
    font-family:Arial; font-size:13px;
}
#flip-container div{
    background:#fff;
}
#flip-container div ul{
    background:#f9f9f9;
    border:1px solid #f0f0f0;
    margin:0; padding:15px 5px;
    list-style-position:inside;
}
#flip-container div ul li{
    padding:5px 0;
}
#flip-container div ul.orange{ background:#f9d999; }
#flip-container div ul.green{ background:#d9f9d9; }
#flip-container div ul.blue{ background:#c9d9f9 }