


.card .body .col-xs-2, .card .body .col-sm-2, .card .body .col-md-2, .card .body .col-lg-2 {
    margin-bottom: 10px !important;
}
.form-group {
    margin-bottom: 10px !important;
}
.bootstrap-select {
    box-shadow: none !important;
   
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0px !important;
	 
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;;
}



/**************/
/* Split the screen in half */
.split {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.split_right{
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
/* Control the left side */
.left {
    left: 0;
    background: white;
}

/* Control the right side */
.right {
    right: 0;


}

/* If you want the content centered horizontally and vertically */
.centered {
        top: 75px;
        position: absolute;
        left: 1%; 
        width: 98%;
        
    
}

.col-lg-12 {
    width: 100%;
    margin-bottom: -21px !important;
}

.form-group .form-control {
    padding-left: 10px !important;
}

ul.dropdown-menu.inner {
    max-height: 190px !important;
    overflow-y: auto;
    min-height: 82px;
}


.magnify-maximize{width: 70% !important;}
.form-group label.error {
    font-size: 13px;
    display: block;
    margin-top: 5px;
    font-weight: bolder !important;
    color: #F44336;
}

.bootstrap-select .dropdown-menu li.selected a {
    background-color: #d2d2d2 !important;
    color: #555 !important;
}

.thumbnail_image {
    border: 1px solid #607d8b;
    border-radius: 4px;
    padding: 2px;
    width: 120px;
    margin-right: 6px;
    height: 100px;
    margin-bottom: 5px;
}


.thumbnail_image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.custom_metismenu{
    display: inherit !important;
    position: relative !important;
    /*top: -20px !important;*/
    margin-top: -25px !important;
    left: 30px !important;
    margin-bottom: -10px !important;
    font-size: 13px !important;
}
.magnify-maximize{
    width: 70% !important;
}

.dropdown-menu ul.menu {
    list-style-type: none !important;
}
.modal-open .modal {

    z-index: 1000000000000000 !important;
}

/*body {background-color: #ffffff !important;} */

span.libelle {
    float: right;
    margin-right: -20px;
    margin-top: 2px;
}
.etat-traitement{
 width: 25%;
}
.visualisation{
    width: 75%;
}
textarea.form-control.no-resize {
    background: #80808012 !important;
}



.spinner-modal {
    background: rgba(0, 0, 0, 0.4);
    /* opacity: 0.5; */
    position: fixed;
    top: 50%;
    left: calc(50% - 100px);
    width: 200px;
    height: 50px;
    border-radius: 6px;
    padding: 10px;
}